name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python 3.9
      uses: actions/setup-python@v5
      with:
        python-version: "3.9"
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .[dev]
        
    - name: Check formatting with black
      run: |
        black --check src/flint
        
    - name: Check imports with isort
      run: |
        isort --check-only src/flint
        
    - name: Lint with flake8
      run: |
        flake8 src/flint
        
    - name: Test with pytest
      run: |
        pytest
